<body>
    <h1>Skills</h1>
    <ul>
      <a href="/skills/new">Add Skill</a>
      <% skills.forEach(function(t) { %>
        <li>
          <form action="/skills/<%= t.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
          <a href="/skills/<%= t.id %>"><%= t.skill %></a>
          <%= t.skill %>
            - 
          <%= t.done ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>
  </body>